extends layout

block content
    .w3-card-4
        header.w3-container.w3-pink
            h1= titulo
        .w3-container 
            h1= compositor.nome
            h3= "Período: " + compositor.periodo.nome
                a.w3-button(href="/periodos/" + compositor.periodo.id)
            h4= "Nasceu: " + compositor.dataNasc 
            h4= "Faleceu: " + compositor.dataObito
            p= compositor.bio

        footer.w3-container.w3-pink
            address Gerado por A100896 :: EngWeb2024 em #{data}
            a.w3-button.w3-pink(href="/compositores") Voltar à lista de compositores 
